.achivmentPage
    font-size: 1.1em
    display: flex
    flex-wrap: wrap
    width: 95%
    margin: 20px auto
    text-align: center
    color: white
    .important
        flex-basis: 100% 
        background-color: $achivment-block-bgc
        position: relative
        z-index: 1
        &::after
            content: ""
            width: 100%
            height: 100%
            background-image: url('../images/nuty.png')
            opacity: 0.5
            top: 0
            left: 0
            bottom: 0
            right: 0
            position: absolute
            z-index: -1   
        h1
            margin: 0px
            background-color: $achivment-h1-bgc
        div
            padding: 7px 14px
    .unimportant
        width: 100%
        margin: 20px 7px
        padding:  4px 8px
        border-left: 4px $achivment-block-bgc solid
        position: relative
        padding-top: 1em
        span
            display: inline-block
            position: absolute
            top: -1em
            left: 50%
            transform: translate(-50%,0%)
            max-width: 80% 
            padding: 2px 15px
            border-radius: 40% 40% 0% 0%
            background-color: $achivment-h1-bgc

@media(min-width: $mobile-end-point)
    .achivmentPage
        box-sizing: border-box
        .important
            flex-basis: calc(50% - 20px)
            margin: 20px 10px
            border-radius: 5%


@media(min-width: $desktop-medium-end-point)
    .achivmentPage
        .important
            flex-basis: calc(25% - 10px)
            margin: 20px 5px

            