.historyPage
    font-size: 1.6em
    width: 95%
    margin: 40px auto
    section
        width: 100%
        margin: 5vh
        div
        background-color: $article-bgc-content
        box-shadow: $article-shadow
        text-align: center
        box-sizing: border-box
        padding: 15px 20px 
        margin: 15vh 0px 8vh 0px
        .historyImg
            width: 80%
            margin: 20px auto
        img
            display: block
            margin: 0px auto
            width: 100%
            max-width: 33vw
                