.block-article
    font-size: 1.8em
    display: block
    width: 93%
    margin: 30px auto
    div:nth-of-type(1)
        background-color: $article-bgc-content
        box-shadow: $article-shadow
        text-align: justify
        box-sizing: border-box
        padding: 15px 20px 
        margin: 15vh 0px 8vh 0px
    div:nth-of-type(2)
        position: relative
        width: 90%
        margin: 0px auto
        overflow: hidden
        background-color: #382121
        box-shadow: $article-shadow
        h1
            font-size: 0.9em
            font-weight: 400
            text-align: center
            width: 100%
            margin: 0px
            position: absolute 
            box-sizing: border-box
            bottom: 3%
            padding: 5px 20px
            background-color: rgba(0, 0, 0, 0.74)
        img
            max-width: 100%
            position: relative
            transition: transform 0.6s ease-in-out
            
    div:nth-of-type(2):hover
        img
            transform: scale(1.16)

@media(min-width: $mobile-end-point)
    .block-article
        font-size: 2em
        width: 80%
        div:nth-of-type(1)
            font-size: 0.8em
            &:nth-of-type(odd)
                transform: translate(8%,0%)
        div:nth-of-type(2)
            &:nth-of-type(even)
                transform: translate(-8%,0%)

@media(min-width: $desktop-medium-end-point)
    .block-article
        width: 95%
        display: flex
        margin: 10vw auto
        div
            flex-basis: 40%
            box-sizing: border-box
            transform: none
        div:nth-of-type(1)
            padding: 3vw
            &:nth-of-type(odd)
                transform: none
        div:nth-of-type(2)
            &:nth-of-type(even)
                transform: none   
        div:nth-of-type(1)
    .block-article:nth-of-type(odd)
        flex-flow: row-reverse
            
        

            