.mainPicture
    width: 100%
    position: relative
    height: 50vh
    img
        display: block;
        max-width: 100%
        position: fixed
        z-index: -1
@media(min-width: $mobile-end-point)
    .mainPicture
        height: 100vh
        // https://media.graphcms.com/Tt8EDsGhRkG6Zj6We55L 400w,https://media.graphcms.com/kPhVZNRNTcdcUEjdOw9I 800w,https://media.graphcms.com/k1EjrG4RT2qo6z5JHX2u 1300w,https://media.graphcms.com/FFt7W3pTgWEnmJKYg00c 2000w,https://media.graphcms.com/Vg2Hl8Rg2ggYPe3Pq4dw 3000w