html
    font-size: 63%    
body
    margin: 0px
    padding: 0px
    background-color: $bgc-body
    font-family: $font-first
    font-weight: 400
    letter-spacing: 1px
    color: white
    font-size: 1em
    min-height: 100vh
@media(min-width: $mobile-end-point)
    html
        font-size: 86%

@media(min-width: $desktop-medium-end-point)
    html
        font-size: 100%