html
    font-size: 63%    
body
    margin: 0px
    padding: 0px
    background-color: $bgc-body
    font-family: $font-first
    font-weight: 400
    letter-spacing: 1px
    font-size: 3em
    color: white