$font-first: 'Kalam', cursive
$bgc-body: #502f2f
$bgc-menu-mobile: #e6e6e6
$bgc-menu-desktop: black
$menu-active-color: #af0000
$menu-dot: #a32d2d

$mobile-end-point: 800px
$desktop-medium-end-point: 1200px